{{#if resume.awards.length}}
<section id="awards">
	<h2>Awards</h2>
	<ul class="awards">
	{{#each resume.awards}}
		<li>
		<span class="bold">
		{{#if title}}
			{{title}}
		{{/if}}
		{{#if date}}
			 ({{date}})
		{{/if}}
		{{#if awarder}}
		, {{awarder}}
		{{/if}}
		</span> 
		{{#if summary}}
			- {{summary}}
		{{/if}}
	{{/each}}
	</ul>
</section>
{{/if}}
