{{#if resume.skills.length}}
<section id="skills">
  <h2>Languages and Technologies</h2>
  <div>
  {{#each resume.skills}}
    <ul class="item">
      <li>
      {{#if name}}{{name}}: {{/if}}
      {{#each keywords}}
      {{.}};
      {{/each}}
      </li>
    </ul>
  {{/each}}
  </div>
</section>
{{/if}}
